<launch>

   <param name="robot_description" textfile="$(find robot_gazebo)/urdf/robot.URDF" />  

  <include file="$(find robot_gazebo)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_gazebo)/worlds/normal.world"/>
    <arg name="paused" value="true"/>
    
  </include>
  
  <node name="spawn_urdf" pkg="gazebo_ros" respawn="false" output="screen" type="spawn_model" 
  		args="-file $(find robot_gazebo)/urdf/robot.URDF -urdf -model arobot -z 1.0732" />


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/arobot/joint_states" />
  </node>

</launch>
